@media(max-width: 600px){
    body{
        overflow-x: hidden;
    }
    marquee{
        height:50px;
    }
    /* Page 1 */
    #page1 #nav i,a{
        font-size: 4vw;
    }
    #page1 #nav #box #i2{
        display: none;
    }
    #page1 #nav #box #logo{
        width: 70px;
        height: 40px;
        /* background-color: red; */
        position: relative;
    }
    #page1 #nav #contact h3{
        font-size: 3vw;
    }
    
    #page1 #data #left{
        width: 100%;
    }
    #page1 #data #left h1{
        font-size:9vw;
    }
    
    #page1 #data #left h5{
        font-size: 3.5vw;
    }
    #page1 #data #right{
        display: none;
    }
    #main #page1 #circle{
        top: 63%;
        width: 60vw;
        height: 60vw;
    }
    #main #page1 img{
        height: 55%;
    }
    
/* ---------------------------------------------------------------- */
/* Page 2 */
    #page2{
        /* background-color: yellow; */
        height: max-content;
        padding: 10vw 0;
    }
    #page2 #stext{
        height: 20vh;
    }
    #page2 #stext h3{
        font-size: 15vw;
        line-height: 1;
        padding-bottom: 20px;
    }

    #page2 #stext p{
        width: 100%;
        font-size: 4.2vw;
    }

    #page2 #projects{
        /* background-color: tomato; */
        gap: 30px;
        min-height: 35vh;
    }

    #page2 #projects .slide{
        width: 90%;
    }
   
    #page2 #projects .slide a{
        font-size: 3vw;
        padding: 5px;
    }

/* ................................................................................................. */

/* Page 3 */
#page3{
    display: inline-block;
}
#page3 #text{
    width: 100%;
    height: 40vh;
    padding: 20px 0 0 20px;
}
#page3 #text h1{
    font-size:10vw;
}
#page3 #text p{
    font-size: 4vw;
    padding: 2px 0;
}
#page3 #image{
    width: 100%;
    min-height: 10vh;
}

.cube{
    width: 200px;
    height: 200px;
}
.cube div span{
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px); 
}
.cube .top{
    width: 200px;
    height: 200px;
    transform: rotateX(90deg) translateZ(100px);
}
.cube .top::before{
    width: 200px;
    height: 200px;
    transform: translateZ(-300px);
}

    
    
/* ..................................................................................... */

/* Page 4 */
    #page4{
        flex-direction: column;
        height: 100vh;
    }
    #page4 #left{
        width: 100%;
        min-height: 40vh;
    }
    #page4 #right{
        min-height: 50vh;
        width: 100%;
    }

    #page4 #left h3{
        font-size: 10vw;
    }

    #page4 #left a{
        font-size: 3vw;
        margin-top: 10px;
    }
    


/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* page 5 */
#page5{
    width: 100%;
    height: 75vh;
    /* background-color: tomato; */
}
#page5 #top{
    width: 100%;
    height: 20vh;
    /* background-color: red; */
}

#page5 #top h1{
    margin-top: -20px;
    font-size: 9vw;
    font-family: gilroy;
    color: chocolate;
    line-height: 1;
    font-weight: 600;
    text-shadow: 10px 10px 20px chocolate;
}
#page5 #top h1 span{
    font-size: 12vw;
    /* font-family: burn; */
    line-height: 1;
    color: springgreen;
    text-shadow: 10px 10px 20px springgreen;
}
#page5 #top h2{
    font-size: 5vw;
    font-family: gilroy;
    padding-top: 20px;
}

#page5 #bottom{
    width: 100%;
    height: 50vh;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 0 20px; 
}
#page5 #bottom::-webkit-scrollbar{
    display: none;
}
#page5 #bottom .box{
    width: 90%;
    height: 50vh;
    
}

#page5 #bottom .box .models{
    width: 100%;
    height: 80%;
    /* background-color: tomato; */
}
#page5 #bottom .box .models img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page5 #bottom .box .text{
    width: 100%;
    height: 15%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
#page5 #bottom .box .text h2{
    font-size: 4vw;
    font-family: gilroy;
}
#page5 #bottom .box .text button{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
    font-size: 3vw;
    background: linear-gradient();
    text-transform: capitalize;
    border-radius: 50px;
    padding: 5px 10px;
    transition: all 0.5s ease;
}
#page5 #bottom .box .text button i{
    font-size: 3vw;
    border: 1px dashed gray;
    border-radius: 50%;
    padding: 5px;
}
#page5 #bottom .box .text button:hover{
    scale: 1.2;
    background-color: gray;
}

}