@media(max-width: 600px){
    body{
        overflow-x: hidden;
    }
    marquee{
        height:50px;
    }
    /* Page 1 */
    #page1 #nav i,a{
        font-size: 4vw;
    }
    #page1 #nav #box #i2{
        display: none;
    }
    #page1 #nav #box #logo{
        width: 70px;
        height: 40px;
        /* background-color: red; */
        position: relative;
    }
    #page1 #nav #contact h3{
        font-size: 3vw;
    }
    
    #page1 #data #left{
        width: 100%;
    }
    #page1 #data #left h1{
        font-size:9vw;
    }
    
    #page1 #data #left h5{
        font-size: 3.5vw;
    }
    #page1 #data #right{
        display: none;
    }
    #main #page1 #circle{
        top: 65%;
        width: 60vw;
        height: 60vw;
    }
    #main #page1 img{
        height: 55%;
    }
    
/* ---------------------------------------------------------------- */
/* Page 2 */
    #page2{
        min-height: 50vh;
        padding: 10vw 0;
    }
    #page2 #stext h3{
        font-size: 12vw;
    }

    #page2 #stext p{
        width: 100%;
    }

    #page2 #projects{
        gap: 30px;
        min-height: 30vh;
    }

    #page2 #projects .slide{
        width: 90%;
    }
    #page2 #projects .slide a{
        font-size: 3vw;
        padding: 5px;
    }
    #page2 #swipe h2{
        font-size: 6vw;
    }
/* ................................................................................................. */

/* Page 3 */
    #page3{
        height: 100vh;
    }
    #page3 #text{
        width: 100%;
        padding: 20px 0 0 20px;
    }
    #page3 #text h1{
        font-size:12vw;
    }
    #page3 #text p{
        font-size: 4vw;
    }
    #page3 #text p span{
        font-size: 5vw;
    }
    #page3 #image{
        width: 100%;
        height: 50%;
        background-image: url(./image/p3img.avif);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: 0;
        filter: contrast(50%);
        transform: translate(0,0);
    }
    
    #page3 #image h1{
        position: absolute;
        bottom: -20%;
        left: -20%;
        font-family: Delirium NCV;
        font-weight: 100;
        font-size: 15vw;
        /* opacity: ; */
        color: white;
        z-index: 99;
    }
/* ..................................................................................... */

/* Page 4 */
    #page4{
        flex-direction: column;
    }
    #page4 #fleft{
        width: 100%;
        min-height: 50vh;
    }
    #page4 #fright{
        min-height: 50vh;
        width: 100%;
    }

    #page4 #fleft h3{
        font-size: 10vw;
    }

    #page4 #fleft a{
        font-size: 3vw;
        margin-top: 10px;
    }
    
}