@media(max-width: 600px){
    body{
        overflow-x: hidden;
    }
    marquee{
        height:50px;
    }
    /* Page 1 */
    #page1 #nav i,a{
        font-size: 4vw;
    }
    #page1 #nav #box #i2{
        display: none;
    }
    #page1 #nav #box #logo{
        width: 70px;
        height: 40px;
        /* background-color: red; */
        position: relative;
    }
    #page1 #nav #contact h3{
        font-size: 3vw;
    }
    
    #page1 #data #left{
        width: 100%;
    }
    #page1 #data #left h1{
        font-size:9vw;
    }
    
    #page1 #data #left h5{
        font-size: 3.5vw;
    }
    #page1 #data #right{
        display: none;
    }
    #main #page1 #circle{
        top: 65%;
        width: 60vw;
        height: 60vw;
    }
    #main #page1 img{
        height: 55%;
    }
    
/* ---------------------------------------------------------------- */
/* Page 2 */
    #page2{
        min-height: 50vh;
        padding: 10vw 0;
    }
    #page2 #stext h3{
        font-size: 12vw;
    }

    #page2 #stext p{
        width: 100%;
    }

    #page2 #projects{
        gap: 30px;
        min-height: 30vh;
    }

    #page2 #projects .slide{
        width: 90%;
    }
    #page2 #projects .slide a{
        font-size: 3vw;
        padding: 5px;
    }
    #page2 #swipe h2{
        font-size: 6vw;
    }
/* ................................................................................................. */

/* Page 3 */
#page3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:black;
    display: inline-block;
}
#page3 #text{
    width: 100%;
    height: 40vh;
    /* background-color: yellow; */
    padding: 20px 0 0 20px;
    color: white;
}
#page3 #text h1{
    font-size:10vw;
    padding-bottom: 20px;
}
#page3 #text p{
    font-size: 4vw;
    opacity: .8;
    padding: 2px 0;
}
#page3 #text p span{
    color: red;
    font-weight: bold;
}
#page3 #image{
    width: 100%;
    min-height: 10vh;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    transition: all 0.5s ease;
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    
}
.cube .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #222;
    transform: rotateX(90deg) translateZ(100px);
}
.cube .top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #0f0;
    transform: translateZ(-300px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}

    
    
/* ..................................................................................... */

/* Page 4 */
    #page4{
        flex-direction: column;
        height: 100vh;
    }
    #page4 #left{
        width: 100%;
        min-height: 40vh;
    }
    #page4 #right{
        min-height: 50vh;
        width: 100%;
    }

    #page4 #left h3{
        font-size: 10vw;
    }

    #page4 #left a{
        font-size: 3vw;
        margin-top: 10px;
    }
    
}