@font-face{
    src: url("./fonts/DELIRIUM\ NCV.ttf");
    font-family: "Delirium NCV";
}
@font-face {
    font-family: burn;
    src: url(./fonts/burnstown\ dam.ttf);
}

@font-face{
    src: url("./fonts/Gilroy-Medium.otf");
    font-family: "Gilroy";
    font-weight: 400;
}

@font-face{
    src: url("./fonts/Gilroy-Regular.otf");
    font-family: "Gilroy";
    font-weight: 500;
}

@font-face{
    src: url("./fonts/Gilroy-Semibold.otf");
    font-family: "Gilroy";
    font-weight: 600;
}
@font-face {
    font-family: yank;
    src: url("./fonts/yank-webfont.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(245, 165, 151); */
}
marquee{
    /* background-color: red; */
    width: max-content;
    height:max-content;
}
#main{
    width: 100%;
}

/* ---------------------------------------------------------------------------------- */

/* Page 1 */
#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 142, 142, 0.897);
    font-family: "gilroy";
    /* display: flex; */
}
#page1 #nav{
    width: 100%;
    height: 10vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#page1 #nav #box{
    display: flex;
    align-items: center;
    gap: 20px;
}
#page1 #nav #box #logo{
    width: 150px;
    height: 60px;
    /* background-color: red; */
    position: relative;
}
#page1 #nav #box #logo img{
    height: 100%;
    object-fit: cover;
}

#page1 #nav #contact{
    display: flex;
    gap: 20px;
}
#page1 #nav i,a{
    font-size: 2vw;
    text-decoration: none;
    color: black;
}
#page1 #data{
    width: 100%;
    height: 90vh;
    /* background-color: rgb(255, 0, 212); */
    display: flex;
}
#page1 #data #left{
    width: 50%;
    height: 100vh;
    padding: 40px 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#page1 #data #left h1{
    font-size: 4vw;
    font-family: yank;
    line-height: 1;
    padding-bottom: 20px;
    cursor: default;
}
#page1 #data #left h1 span{
    color: red;
    opacity: 0.7;
    text-shadow: -5px -5px 5px yellow;
}
#page1 #data #left h5{
    cursor: pointer;
    font-size: 1.3vw;
    font-family: kristen ITC;
    color: rgb(79, 78, 78);
    /* padding-bottom: 30px; */
}
#page1 #data #left h5 span:hover{
    border-bottom: 2px solid springgreen;
}
#page1 #right{
    width: 50%;
    height: 90vh;
    /* background-color: springgreen; */
    position: relative;
}
#page1 #data #right #quotes{
    /* background-color: white; */
    position: absolute;
    bottom: 0;
    right: -15%;
    transform: translate(-50%,-50%);
}
#page1 #data #right #quotes h3{
    font-size: 3vw;
    font-family: ynak;
}


#page1 #circle{
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(to bottom right, rgba(1, 255, 128, 0.397),rgba(27, 194, 110, 0.881));
}

#page1 img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
    height: 75%;
    z-index: 9999;
    filter: drop-shadow(30px 5px 20px rgba(0, 0, 0, 0.365));
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Page 2 */
#page2{
    width: 100%;
    min-height: 100vh;
    background-color:rgba(209, 219, 251, 0.5);
}

#page2 #stext{
    padding: 3vw 5vw;
    height: 30vh;
    text-align: center;
}

#page2 #stext h3{
    font-size: 7vw;
    line-height: 1;
    font-family: yank;
    font-weight: 100;
    opacity: 0.8;
}

#page2 #stext p{
    /* width: 40%; */
    font-size: 2vw;
    line-height: 1;
    opacity: .6;
}

#page2 #projects{
    overflow-x: auto;
    display: flex;
    gap: 100px;
    width: 100%;
    min-height: 60vh;
    margin-top: 30px;
    padding: 0 5vw;
}

#page2 #projects .slide{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    flex-shrink: 0;
    position: relative;
    width: 50%;
    min-height: inherit;
    overflow: hidden;
    will-change: transform;
    transform: skewX(0deg);
}

#page2 #projects .slide img{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
}
#page2 #projects .slide a{
    text-decoration: none;
    position: absolute;
    font-size: 1vw;
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    right: 15px;
    transition: all 0.5s ease;
}
#page2 #projects .slide a:hover{
    scale: 1.2;
}


#page2 #projects .slide img:nth-child(1){
    filter: grayscale() brightness(70%);
}

#page2 #projects .slide img:nth-child(2){
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    clip-path: circle(0% at 100px 100px);
}

#page2 #projects::-webkit-scrollbar{
    display: none;
}
#page2 #swipe{
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
#page2 #swipe h2{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: gilroy;
    font-size: 2.5vw;
}

/* ----------------------------------------------------------------------------------------------------- */
/* Page 3 */
#page3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:black;
    display: flex;
}
#page3 #text{
    width: 750px;
    height: 100vh;
    /* background-color: yellow; */
    padding: 20px 0 0 30px;
    color: white;
}
#page3 #text h1{
    font-size:7vw;
    padding-bottom: 20px;
}
#page3 #text h1 span{
    color: red;
}
#page3 #text p{
    font-size: 2vw;
    opacity: .8;
    padding: 5px 0;
}
#page3 #text p span{
    color: red;
    font-weight: bold;
}
#page3 #image{
    width: 50%;
    min-height: 100vh;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    transition: all 0.5s ease;
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    
}
.cube .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.cube .top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-400px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}


/* ------------------------------------------------------------------------------------------- */

/* Page 4 */
#page4{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #0F112A;
}

#page4 #left{
    padding: 0 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    min-height: 100vh;
    color: white;
}

#page4 #left h3{
    font-size: 4vw;
}

#page4 #left a{
    font-size: 1vw;
    margin-top: 20px;
    font-weight: 700;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.4;
    transition: all 1s ease;
}
#page4 #left a:hover{
    border-bottom: 2px solid springgreen;
    opacity: 1;
    scale: 1.3;
}

#page4 #right{
    width: 40%;
    min-height: 100vh;
    background-image: url(./image/p4img.avif);
    background-size: cover;
    filter: brightness(70%);
}


/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* page 5 */
#page5{
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
}
#page5 #top{
    width: 100%;
    height: 30vh;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border-bottom: 1px dashed gray; */
}

#page5 #top h1{
    margin-top: -20px;
    font-size: 7vw;
    font-family: gilroy;
    color: chocolate;
    line-height: 1;
    font-weight: 600;
    text-shadow: 10px 10px 20px chocolate;
}
#page5 #top h1 span{
    font-size: 8vw;
    /* font-family: burn; */
    line-height: 1;
    color: springgreen;
    text-shadow: 10px 10px 20px springgreen;
}
#page5 #top h2{
    font-size: 3vw;
    font-family: gilroy;
}

#page5 #bottom{
    width: 100%;
    height: 70vh;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 0 20px; 
}
#page5 #bottom::-webkit-scrollbar{
    display: none;
}
#page5 #bottom .box{
    width: 45%;
    height: 100%;
    /* background-color: yellow; */
    /* border: 1px dashed gray; */
    /* display: flex;
    flex-direction: column; */
}

#page5 #bottom .box .models{
    width: 100%;
    height: 80%;
    /* background-color: tomato; */
}
#page5 #bottom .box .models img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page5 #bottom .box .text{
    width: 100%;
    height: 20%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
#page5 #bottom .box .text h2{
    font-size: 2vw;
    font-family: gilroy;
}
#page5 #bottom .box .text button{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5vw;
    background: linear-gradient();
    text-transform: capitalize;
    border-radius: 50px;
    padding: 5px 10px;
    transition: all 0.5s ease;
}
#page5 #bottom .box .text button i{
    font-size: 2vw;
    border: 1px dashed gray;
    border-radius: 50%;
    padding: 5px;
}
#page5 #bottom .box .text button:hover{
    scale: 1.2;
    background-color: gray;
}